name: Regular CI
on:
  push:
    branches: ["*"]
  pull_request: {}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: Lint
        run: node --run check
      - name: Build (package)
        run: pnpm -r build
      - name: Type check
        run: |
          pnpm -r typecheck
          node --run typecheck
      - name: Build (Test site)
        run: node --run build
      - name: Check KaTeX assets existence
        run: ls build/assets/katex-*/katex.min.css && ls build/assets/katex-*/fonts/*.woff2
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: build
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
  build_slower:
    needs: build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: Build (package)
        run: pnpm -r build
      - name: Build (Test site)
        run: node --run build:slower
      - name: CHeck KaTeX assets existence
        run: ls build/assets/katex-*/katex.min.css && ls build/assets/katex-*/fonts/*.woff2
  build_windows:
    runs-on: windows-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: Build (package)
        run: pnpm -r build
      - name: Build (Test site)
        run: node --run build
      - name: CHeck KaTeX assets existence
        run: ls build/assets/katex-*/katex.min.css && ls build/assets/katex-*/fonts/*.woff2
  deploy:
    needs:
      - build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
